/* Config */
:root {
    --shadow-color: #000000cc;
}

/* Fonts */
@font-face {
    src: url("fonts/NotoSans-Regular.ttf");
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url("fonts/NotoSans-Italic.ttf");
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
}

@font-face {
    src: url("fonts/NotoSans-Light.ttf");
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
}

@font-face {
    src: url("fonts/NotoSans-LightItalic.ttf");
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 300;
}

@font-face {
    src: url("fonts/NotoSans-Bold.ttf");
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
}

@font-face {
    src: url("fonts/NotoSans-BoldItalic.ttf");
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 700;
}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Noto Sans", Times, sans-serif;
    font-weight: normal;
    color: #ffffff;
}

html, body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: 100%; width: 100%;
    margin: 0; padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, #5c5c5c, #1b1b1b 95%);
    background-attachment: fixed;
}

#content {
    width: 50%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 50%;
    height: auto;
    margin-top: 4em;
    filter: drop-shadow(0px 0px 10px var(--shadow-color));
    transition: transform 0.2s ease-out;
}

#clock {
    font-size: 5em;
    margin-top: 0.25em;
    text-shadow: 0px 0px 10px var(--shadow-color);
}

#next-event {
    top: 1em;
    width: max-content;
    font-size: 1em;
    text-shadow: 1px 1px var(--shadow-color);
}
