/* Config */
:root {
    --shadow-color: #000000cc;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content, #hero {
    width: 50%;
    margin-top: 3em;
}

.content {
    background-color: rgba(43, 43, 43, 0.5);
    padding: 2em;
    border-radius: 1em;
    backdrop-filter: blur(2em)
}

#hero {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 30%;
    height: auto;
    margin-top: 4em;
    filter: drop-shadow(0px 0px 10px var(--shadow-color));
    transition: transform 0.2s ease-out;
}

.content, #hero {
    width: max(22.5rem, 50%);
    margin-top: 3em;
}

#theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2a379;
    box-shadow: 5px 5px #945a43;
    padding: 1em 3em;
    margin-top: 3em;
    margin-bottom: 1em;
    border-radius: 1em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

#theme h1 {
    font-size: 1em;
    text-transform: uppercase;
}

#theme p {
    font-size: 1.5em;
    font-weight: bold;
}

#hero > a {
    background-color: #ff802b;
    box-shadow: 5px 5px #cf4712;
    padding: 1em 2em;
    margin-block: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

#hero > a:hover {
    background-color: #ffd35b;
    box-shadow: 3px 3px #f7a01f;
    transform: translate(2px, 2px);
}

#clock {
    font-size: 4em;
    margin-top: 0.25em;
    text-shadow: 0px 0px 10px var(--shadow-color);
}

#next-event {
    top: 1em;
    width: max-content;
    font-size: 1em;
    text-shadow: 1px 1px var(--shadow-color);
}


#winners {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

#winners > h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-block: 1rem;
    font-size: 2rem;
    text-shadow: 2px 2px var(--shadow-color) !important;
}

#winners div {
    display: flex;
    position: relative;
}

.package {
    border-radius: 5px;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 8px var(--shadow-color);
}

.package h2 {
    margin: 0.5rem 1rem;
    position: absolute;
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.package img {
    width: 100%;
    min-height: 100%;
    display: block;
    object-fit: cover;
}

.package::after {
    position: absolute;
    content: attr(data-place);
    color: white;
    bottom: 0;
    right: 0;
    margin: 0.5rem 1rem;
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.package[data-place="1st"] {
    --scale: 1.1;
    transform: scale(var(--scale));
    margin-left: 1.5rem;
    margin-right: 0.5rem;
}

.package[data-place="2nd"] {
    --scale: 1;
}

.package[data-place="3rd"] {
    --scale: 0.9;
    transform: scale(var(--scale));
}

.package:hover {
    transform: scale(calc(var(--scale) * 1.1));
    box-shadow: 0 4px 10px var(--shadow-color);
}

#winners > a {
    margin-top: 1rem;
    text-shadow: 1px 1px 2px var(--shadow-color);
}

a {
    color: rgb(99, 185, 224);
}

a:hover {
    color: rgb(162, 228, 245);;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

#details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#details p {
    text-align: center;
    margin-bottom: 1em;
}

code {
    padding: 0rem 0.25rem;
    background-color: #00000033;
    border-radius: 2px;
}

table {
    margin-top: 3em;
    border-spacing: 0.5rem;
}

table th, table td {
    box-shadow: 3px 3px var(--shadow-color);
    padding: 0.5rem 1rem;
}

tr td:first-child {
    text-align: end;
}

th {
    background-color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px var(--shadow-color);
}

td {
    background-color: rgb(78, 78, 78);
}

footer {
    margin-bottom: 1em;
    margin-top: 3em;
}
