/* Config */
:root {
    --shadow-color: #000000cc;
}

/* Fonts */
@font-face {
    src: url("fonts/NotoSans-Regular.ttf");
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url("fonts/NotoSans-Italic.ttf");
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
}

@font-face {
    src: url("fonts/NotoSans-Light.ttf");
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
}

@font-face {
    src: url("fonts/NotoSans-LightItalic.ttf");
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 300;
}

@font-face {
    src: url("fonts/NotoSans-Bold.ttf");
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
}

@font-face {
    src: url("fonts/NotoSans-BoldItalic.ttf");
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 700;
}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Noto Sans", Times, sans-serif;
    font-weight: normal;
    color: #ffffff;
}

html, body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, #5c5c5c, #1b1b1b 95%);
    background-attachment: fixed;
}

.content, #hero {
    width: 50%;
    margin-top: 3em;
}

#hero {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 30%;
    height: auto;
    margin-top: 4em;
    filter: drop-shadow(0px 0px 10px var(--shadow-color));
    transition: transform 0.2s ease-out;
}

#clock {
    font-size: 4em;
    margin-top: 0.25em;
    text-shadow: 0px 0px 10px var(--shadow-color);
}

#next-event {
    top: 1em;
    width: max-content;
    font-size: 1em;
    text-shadow: 1px 1px var(--shadow-color);
}

a {
    color: rgb(99, 185, 224);
}

a:hover {
    color: rgb(162, 228, 245);;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

.content {
    background-color: rgba(43, 43, 43, 0.5);
    padding: 2em;
    border-radius: 1em;
    backdrop-filter: blur(2em)
}

#details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#details p {
    text-align: center;
    margin-bottom: 1em;
}

code {
    padding: 0rem 0.25rem;
    background-color: #00000033;
    border-radius: 2px;
}

table {
    margin-top: 3em;
    border-spacing: 0.5rem;
}

table th, table td {
    box-shadow: 3px 3px var(--shadow-color);
    padding: 0.5rem 1rem;
}

tr td:first-child {
    text-align: end;
}

th {
    background-color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px var(--shadow-color);
}

td {
    background-color: rgb(78, 78, 78);
}

footer {
    margin-bottom: 1em;
    margin-top: 3em;
}
